<?xml version="1.0" ?>

<robot name="robotiq_85_gripper" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find pal_robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
    
    <xacro:property name="pi" value="3.1415"/>
    <xacro:property name="prefix" value=""/>

    <link name="base_link"/>
    
    <joint name="${prefix}pal_robotiq_coupler_joint" type="fixed">
        <parent link="base_link"/>
        <child link="${prefix}robotiq_coupler_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </joint>
    
    <link name="${prefix}robotiq_coupler_link">
        <visual>
            <geometry>
                <mesh filename="package://pal_robotiq_85_description/meshes/visual/pal_robotiq_coupling.stl"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://pal_robotiq_85_description/meshes/visual/pal_robotiq_coupling.stl"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1" />
            <origin xyz="0.0 0.0 0.0" />
            <inertia ixx = "0.000001" ixy = "0.000000" ixz = "0.000000"
                     iyx = "0.000000" iyy = "0.000001" iyz = "0.000000"
                     izx = "0.000000" izy = "0.000000" izz = "0.000001" />
        </inertial>
    </link>

    <xacro:robotiq_85_gripper prefix="${prefix}" parent="${prefix}robotiq_coupler_link" >
        <origin xyz="0 0 -0.02754" rpy="0 ${pi/2} 0"/>
    </xacro:robotiq_85_gripper>
    
</robot>
