<?xml version="1.0" ?>

<robot name="robotiq_85_gripper" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find pal_robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
    
    <xacro:property name="pi" value="3.1415"/>
    <xacro:property name="prefix" value="gripper_"/>

    <link name="base_link"/>
    
    <xacro:robotiq_85_gripper prefix="${prefix}" parent="base_link" >
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:robotiq_85_gripper>
    
</robot>
