<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="robotiq_85_gripper_transmission" params="prefix">
    <transmission name="${prefix}finger_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${prefix}finger_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}motor">
            <mechanicalReduction>1</mechanicalReduction>
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
        </actuator>
    </transmission>
  </xacro:macro>

</robot>
